<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Arcade e-comm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Reguser</display-name>
    <servlet-name>Reguser</servlet-name>
    <servlet-class>pc1.Reguser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reguser</servlet-name>
    <url-pattern>/Reguser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pc1.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>pc1.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload_file</display-name>
    <servlet-name>Upload_file</servlet-name>
    <servlet-class>pc1.Upload_file</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload_file</servlet-name>
    <url-pattern>/Upload_file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File_search</display-name>
    <servlet-name>File_search</servlet-name>
    <servlet-class>pc1.File_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File_search</servlet-name>
    <url-pattern>/File_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>pc1.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_pd</display-name>
    <servlet-name>Update_pd</servlet-name>
    <servlet-class>pc1.Update_pd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_pd</servlet-name>
    <url-pattern>/Update_pd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>pc1.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addtocart</display-name>
    <servlet-name>Addtocart</servlet-name>
    <servlet-class>pc1.Addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtocart</servlet-name>
    <url-pattern>/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_reg</display-name>
    <servlet-name>Admin_reg</servlet-name>
    <servlet-class>pc1.Admin_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_reg</servlet-name>
    <url-pattern>/Admin_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_log</display-name>
    <servlet-name>Admin_log</servlet-name>
    <servlet-class>pc1.Admin_log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_log</servlet-name>
    <url-pattern>/Admin_log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_logout</display-name>
    <servlet-name>Admin_logout</servlet-name>
    <servlet-class>pc1.Admin_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_logout</servlet-name>
    <url-pattern>/Admin_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Udcart</display-name>
    <servlet-name>Udcart</servlet-name>
    <servlet-class>pc1.Udcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Udcart</servlet-name>
    <url-pattern>/Udcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cimg_search</display-name>
    <servlet-name>Cimg_search</servlet-name>
    <servlet-class>pc1.Cimg_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cimg_search</servlet-name>
    <url-pattern>/Cimg_search</url-pattern>
  </servlet-mapping>
</web-app>